*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
.main-item{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.main-item form{
    background-color: #FFFFFF;
    border-radius: 6px;
    padding:10px 0;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 0px 4px 0px #1414141A;  
}
form .all-pages{
    width: 370px;
    height: 42px;
    padding-top: 8px;
    padding-right: 15px;
    padding-bottom: 8px;
    padding-left: 22px;
    opacity: 1;
    display: flex;
    background: #FFFFFF;
    align-items: center;
    justify-content: space-between;
}
form .all-pages label{
    height: 18px;
    opacity: 1;
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0px;
    color: #1F2128;

}
.line{
    width: 370px;
    opacity: 1;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    gap: 10px;
}
.line span{
    width: 340px;
    height: 0px;
    opacity: 1;
    display: block;
    border-width: 0.7px;
    border: 0.7px solid #CDCDCD
}
form .page{
    width: 370px;
    height: 164px;
    opacity: 1;
}
.page div{
    width: 370px;
    display: flex;
    align-items: center;
    height: 42px;
    justify-content: space-between;
    opacity: 1;
    top: 83px;
    left: -1px;
    padding-top: 8px;
    padding-right: 15px;
    padding-bottom: 8px;
    padding-left: 22px;

}
.page div span {
    width: 48px;
    height: 18px;
    opacity: 1;
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #1F2128;
}
 label{
    width: 35px;
    height: 35px;
    position: relative;
}
input {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 23px;
    opacity: 1;
    border-radius: 6px;
}
 label::before {
    content: "";
    background-image: url("data:image/svg+xml;utf8,<svg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M12.75 0.75L8.97857 4.52143L5.20714 8.29286L0.75 4.17857' stroke='white' stroke-width='1.5' stroke-linecap='round'/></svg>");
    background-repeat: no-repeat;
    background-size:80%;
    background-position: center;
    width: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 23px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.6;
    border-radius: 6px;
    border: 1px solid #CDCDCD;
}
label::after{
    content: "";
    position: absolute;
    width: 23px;
    height: 23px;
    opacity: 0;
    left: 50%;
    top: -2px;
    transform: translateX(-50%);
    border-radius: 6px;
    border: 3px solid rgba(36, 105, 246, 1)
}
input:hover + label::before{
     background-image: url("data:image/svg+xml;utf8,<svg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M12.75 0.75L8.97857 4.52143L5.20714 8.29286L0.75 4.17857' stroke='rgba(227, 227, 227, 1)' stroke-width='1.5' stroke-linecap='round'/></svg>");
}
input:active + label::before{
     background-image: url("data:image/svg+xml;utf8,<svg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M12.75 0.75L8.97857 4.52143L5.20714 8.29286L0.75 4.17857' stroke='rgba(135, 135, 135, 1)' stroke-width='1.5' stroke-linecap='round'/></svg>");
}
input:active + label::after{
    opacity: 0.1;
}
input:checked + label::before{
    background-image: url("data:image/svg+xml;utf8,<svg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M12.75 0.75L8.97857 4.52143L5.20714 8.29286L0.75 4.17857' stroke='white' stroke-width='1.5' stroke-linecap='round'/></svg>");
    background-color: rgba(80, 135, 248, 1);
    border-color: rgba(80, 135, 248, 1);
}
input:checked:not(:hover) + label::before{
    background-color:rgba(36, 105, 246, 1);
}
.btn-div{
    width: 370px;
    height: 60px;
    opacity: 1;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    gap: 10px;
    background: #FFFFFF;
}
button{
    width: 340px;
    height: 40px;
    opacity: 1;
    border-radius: 4px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    gap: 10px;
    border: none;
    background: rgba(255, 206, 34, 1);
    cursor: pointer;
}
button:hover{
    background:rgba(255, 216, 77, 1)
}
button:active{
    background: rgba(255, 206, 34, 1);
}
button span{
    width: 39px;
    height: 18px;
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #1F2128;

}